=begin
#The Selling Partner API for Amazon External Fulfillment Shipments Processing

#You can use the External Fulfillment Shipments API to retrieve, manage, and track shipments processed through Amazon's external fulfillment network. Use this API to get shipment details, monitor status changes, and access fulfillment requirements.

OpenAPI spec version: 2024-09-11
Contact: marketplaceapitest@amazon.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::ExternalFulfillment
  class AmzSpApi::ExternalFulfillment::V20240911::ShipmentRetrievalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a single shipment with the ID you specify.
    # @param shipment_id The ID of the shipment you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Shipment]
    def get_shipment(shipment_id, opts = {})
      data, _status_code, _headers = get_shipment_with_http_info(shipment_id, opts)
      data
    end

    # Get a single shipment with the ID you specify.
    # @param shipment_id The ID of the shipment you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Shipment, Integer, Hash)>] Shipment data, response status code and response headers
    def get_shipment_with_http_info(shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentRetrievalApi.get_shipment ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentRetrievalApi.get_shipment"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}'.sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Shipment' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentRetrievalApi#get_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of shipments created for the seller in the status you specify. Shipments can be further filtered based on the fulfillment node or the time of the shipments' last update.
    # @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this value to &#x60;ACCEPTED&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id The Amazon channel location identifier for the shipments you want to retrieve.
    # @option opts [String] :marketplace_id The marketplace ID associated with the location. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @option opts [String] :channel_name The channel name associated with the location.
    # @option opts [DateTime] :last_updated_after The response includes shipments whose latest update is after the specified time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [DateTime] :last_updated_before The response includes shipments whose latest update is before the specified time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [Integer] :max_results The maximum number of shipments to include in the response.
    # @option opts [String] :pagination_token A token that you use to retrieve the next page of results. The response includes &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return empty pages.
    # @return [ShipmentsResponse]
    def get_shipments(status, opts = {})
      data, _status_code, _headers = get_shipments_with_http_info(status, opts)
      data
    end

    # Get a list of shipments created for the seller in the status you specify. Shipments can be further filtered based on the fulfillment node or the time of the shipments&#x27; last update.
    # @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this value to &#x60;ACCEPTED&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id The Amazon channel location identifier for the shipments you want to retrieve.
    # @option opts [String] :marketplace_id The marketplace ID associated with the location. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @option opts [String] :channel_name The channel name associated with the location.
    # @option opts [DateTime] :last_updated_after The response includes shipments whose latest update is after the specified time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [DateTime] :last_updated_before The response includes shipments whose latest update is before the specified time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [Integer] :max_results The maximum number of shipments to include in the response.
    # @option opts [String] :pagination_token A token that you use to retrieve the next page of results. The response includes &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return empty pages.
    # @return [Array<(ShipmentsResponse, Integer, Hash)>] ShipmentsResponse data, response status code and response headers
    def get_shipments_with_http_info(status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentRetrievalApi.get_shipments ...'
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling ShipmentRetrievalApi.get_shipments"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['CREATED', 'ACCEPTED', 'CONFIRMED', 'PACKAGE_CREATED', 'PICKUP_SLOT_RETRIEVED', 'INVOICE_GENERATED', 'SHIPLABEL_GENERATED', 'CANCELLED', 'SHIPPED', 'DELIVERED'].include?(status)
        fail ArgumentError, "invalid value for 'status', must be one of CREATED, ACCEPTED, CONFIRMED, PACKAGE_CREATED, PICKUP_SLOT_RETRIEVED, INVOICE_GENERATED, SHIPLABEL_GENERATED, CANCELLED, SHIPPED, DELIVERED"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = status
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?
      query_params[:'marketplaceId'] = opts[:'marketplace_id'] if !opts[:'marketplace_id'].nil?
      query_params[:'channelName'] = opts[:'channel_name'] if !opts[:'channel_name'].nil?
      query_params[:'lastUpdatedAfter'] = opts[:'last_updated_after'] if !opts[:'last_updated_after'].nil?
      query_params[:'lastUpdatedBefore'] = opts[:'last_updated_before'] if !opts[:'last_updated_before'].nil?
      query_params[:'maxResults'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'paginationToken'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ShipmentsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentRetrievalApi#get_shipments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
