=begin
#The Selling Partner API for Amazon External Fulfillment Shipments Processing

#You can use the External Fulfillment Shipments API to retrieve, manage, and track shipments processed through Amazon's external fulfillment network. Use this API to get shipment details, monitor status changes, and access fulfillment requirements.

OpenAPI spec version: 2024-09-11
Contact: marketplaceapitest@amazon.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::ExternalFulfillment
  class AmzSpApi::ExternalFulfillment::V20240911::ShipmentProcessingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Provide details about the packages in the specified shipment.
    # @param body A list of packages in the shipment.
    # @param shipment_id The ID of the shipment.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_packages(body, shipment_id, opts = {})
      create_packages_with_http_info(body, shipment_id, opts)
      nil
    end

    # Provide details about the packages in the specified shipment.
    # @param body A list of packages in the shipment.
    # @param shipment_id The ID of the shipment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_packages_with_http_info(body, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.create_packages ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ShipmentProcessingApi.create_packages"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.create_packages"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}/packages'.sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#create_packages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get invoices for the shipment you specify.
    # @param shipment_id The ID of the shipment whose invoice you want.
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def generate_invoice(shipment_id, opts = {})
      data, _status_code, _headers = generate_invoice_with_http_info(shipment_id, opts)
      data
    end

    # Get invoices for the shipment you specify.
    # @param shipment_id The ID of the shipment whose invoice you want.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def generate_invoice_with_http_info(shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.generate_invoice ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.generate_invoice"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}/invoice'.sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InvoiceResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#generate_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generate and retrieve all shipping labels for one or more packages in the shipment you specify.
    # @param operation Specify whether you want to generate or regenerate a label.
    # @param shipment_id The ID of the shipment whose shipping labels you want to generate and retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [ShipLabelsInput] :body Shipping details for when shipping is not done by the marketplace channel.
    # @option opts [String] :shipping_option_id The ID of the shipping option whose shipping labels you want.
    # @return [ShipLabelsResponse]
    def generate_ship_labels(operation, shipment_id, opts = {})
      data, _status_code, _headers = generate_ship_labels_with_http_info(operation, shipment_id, opts)
      data
    end

    # Generate and retrieve all shipping labels for one or more packages in the shipment you specify.
    # @param operation Specify whether you want to generate or regenerate a label.
    # @param shipment_id The ID of the shipment whose shipping labels you want to generate and retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [ShipLabelsInput] :body Shipping details for when shipping is not done by the marketplace channel.
    # @option opts [String] :shipping_option_id The ID of the shipping option whose shipping labels you want.
    # @return [Array<(ShipLabelsResponse, Integer, Hash)>] ShipLabelsResponse data, response status code and response headers
    def generate_ship_labels_with_http_info(operation, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.generate_ship_labels ...'
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling ShipmentProcessingApi.generate_ship_labels"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['GENERATE', 'REGENERATE'].include?(operation)
        fail ArgumentError, "invalid value for 'operation', must be one of GENERATE, REGENERATE"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.generate_ship_labels"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}/shipLabels'.sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'operation'] = operation
      query_params[:'shippingOptionId'] = opts[:'shipping_option_id'] if !opts[:'shipping_option_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'ShipLabelsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#generate_ship_labels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Confirm or reject the specified shipment.
    # @param operation The status of the shipment.
    # @param shipment_id The ID of the shipment you want to confirm or reject.
    # @param [Hash] opts the optional parameters
    # @option opts [ShipmentAcknowledgementRequest] :body Information about the shipment and its line items.
    # @return [nil]
    def process_shipment(operation, shipment_id, opts = {})
      process_shipment_with_http_info(operation, shipment_id, opts)
      nil
    end

    # Confirm or reject the specified shipment.
    # @param operation The status of the shipment.
    # @param shipment_id The ID of the shipment you want to confirm or reject.
    # @param [Hash] opts the optional parameters
    # @option opts [ShipmentAcknowledgementRequest] :body Information about the shipment and its line items.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def process_shipment_with_http_info(operation, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.process_shipment ...'
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling ShipmentProcessingApi.process_shipment"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['CONFIRM', 'REJECT'].include?(operation)
        fail ArgumentError, "invalid value for 'operation', must be one of CONFIRM, REJECT"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.process_shipment"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}'.sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'operation'] = operation

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#process_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve invoices for the shipment you specify.
    # @param shipment_id The ID of the shipment whose invoice you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [InvoiceResponse]
    def retrieve_invoice(shipment_id, opts = {})
      data, _status_code, _headers = retrieve_invoice_with_http_info(shipment_id, opts)
      data
    end

    # Retrieve invoices for the shipment you specify.
    # @param shipment_id The ID of the shipment whose invoice you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceResponse, Integer, Hash)>] InvoiceResponse data, response status code and response headers
    def retrieve_invoice_with_http_info(shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.retrieve_invoice ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.retrieve_invoice"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}/invoice'.sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InvoiceResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#retrieve_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of shipping options for a package in a shipment given the shipment's marketplace and channel. If the marketplace and channel have a pre-determined shipping option, then this operation returns an empty response.
    # @param shipment_id The ID of the shipment to which the package belongs.
    # @param package_id The ID of the package for which you want to retrieve shipping options.
    # @param [Hash] opts the optional parameters
    # @return [ShippingOptionsResponse]
    def retrieve_shipping_options(shipment_id, package_id, opts = {})
      data, _status_code, _headers = retrieve_shipping_options_with_http_info(shipment_id, package_id, opts)
      data
    end

    # Get a list of shipping options for a package in a shipment given the shipment&#x27;s marketplace and channel. If the marketplace and channel have a pre-determined shipping option, then this operation returns an empty response.
    # @param shipment_id The ID of the shipment to which the package belongs.
    # @param package_id The ID of the package for which you want to retrieve shipping options.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingOptionsResponse, Integer, Hash)>] ShippingOptionsResponse data, response status code and response headers
    def retrieve_shipping_options_with_http_info(shipment_id, package_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.retrieve_shipping_options ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.retrieve_shipping_options"
      end
      # verify the required parameter 'package_id' is set
      if @api_client.config.client_side_validation && package_id.nil?
        fail ArgumentError, "Missing the required parameter 'package_id' when calling ShipmentProcessingApi.retrieve_shipping_options"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}/shippingOptions'.sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'packageId'] = package_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ShippingOptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#retrieve_shipping_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates the details about the packages that will be used to fulfill the specified shipment.
    # @param body The body of the request.
    # @param shipment_id The ID of the shipment to which the package belongs.
    # @param package_id The ID of the package whose information you want to update.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_package(body, shipment_id, package_id, opts = {})
      update_package_with_http_info(body, shipment_id, package_id, opts)
      nil
    end

    # Updates the details about the packages that will be used to fulfill the specified shipment.
    # @param body The body of the request.
    # @param shipment_id The ID of the shipment to which the package belongs.
    # @param package_id The ID of the package whose information you want to update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_package_with_http_info(body, shipment_id, package_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.update_package ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ShipmentProcessingApi.update_package"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.update_package"
      end
      # verify the required parameter 'package_id' is set
      if @api_client.config.client_side_validation && package_id.nil?
        fail ArgumentError, "Missing the required parameter 'package_id' when calling ShipmentProcessingApi.update_package"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}/packages/{packageId}'.sub('{' + 'shipmentId' + '}', shipment_id.to_s).sub('{' + 'packageId' + '}', package_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#update_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates the status of the packages.
    # @param shipment_id The ID of the shipment to which the package belongs.
    # @param package_id The ID of the package whose status you want to update.
    # @param [Hash] opts the optional parameters
    # @option opts [PackageDeliveryStatus] :body The body of the request.
    # @option opts [String] :status **DEPRECATED**. Do not use. Package status is defined in the body parameter.
    # @return [nil]
    def update_package_status(shipment_id, package_id, opts = {})
      update_package_status_with_http_info(shipment_id, package_id, opts)
      nil
    end

    # Updates the status of the packages.
    # @param shipment_id The ID of the shipment to which the package belongs.
    # @param package_id The ID of the package whose status you want to update.
    # @param [Hash] opts the optional parameters
    # @option opts [PackageDeliveryStatus] :body The body of the request.
    # @option opts [String] :status **DEPRECATED**. Do not use. Package status is defined in the body parameter.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_package_status_with_http_info(shipment_id, package_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentProcessingApi.update_package_status ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentProcessingApi.update_package_status"
      end
      # verify the required parameter 'package_id' is set
      if @api_client.config.client_side_validation && package_id.nil?
        fail ArgumentError, "Missing the required parameter 'package_id' when calling ShipmentProcessingApi.update_package_status"
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['SHIPPED'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of SHIPPED'
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/shipments/{shipmentId}/packages/{packageId}'.sub('{' + 'shipmentId' + '}', shipment_id.to_s).sub('{' + 'packageId' + '}', package_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentProcessingApi#update_package_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
