=begin
#Selling Partner API for Catalog Items

#The Selling Partner API for Catalog Items helps you programmatically retrieve item details for items in the catalog.

OpenAPI spec version: v0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::CatalogItemsApiModel::V0
  class CatalogApi
    attr_accessor :api_client

    def initialize(api_client = AmzSpApi::CatalogItemsApiModel::V0::ApiClient.default)
      @api_client = api_client
      @api_client.model_namespace = Module.nesting[1]
    end
    # Returns the parent categories to which an item belongs, based on the specified ASIN or SellerSKU.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
    # @param marketplace_id A marketplace identifier. Specifies the marketplace for the item.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :asin The Amazon Standard Identification Number (ASIN) of the item.
    # @option opts [String] :seller_sku Used to identify items in the given marketplace. SellerSKU is qualified by the seller&#x27;s SellerId, which is included with every operation that you submit.
    # @return [ListCatalogCategoriesResponse]
    def list_catalog_categories(marketplace_id, opts = {})
      data, _status_code, _headers = list_catalog_categories_with_http_info(marketplace_id, opts)
      data
    end

    # Returns the parent categories to which an item belongs, based on the specified ASIN or SellerSKU.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
    # @param marketplace_id A marketplace identifier. Specifies the marketplace for the item.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :asin The Amazon Standard Identification Number (ASIN) of the item.
    # @option opts [String] :seller_sku Used to identify items in the given marketplace. SellerSKU is qualified by the seller&#x27;s SellerId, which is included with every operation that you submit.
    # @return [Array<(ListCatalogCategoriesResponse, Integer, Hash)>] ListCatalogCategoriesResponse data, response status code and response headers
    def list_catalog_categories_with_http_info(marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogApi.list_catalog_categories ...'
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CatalogApi.list_catalog_categories"
      end
      # resource path
      local_var_path = '/catalog/v0/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'MarketplaceId'] = marketplace_id
      query_params[:'ASIN'] = opts[:'asin'] if !opts[:'asin'].nil?
      query_params[:'SellerSKU'] = opts[:'seller_sku'] if !opts[:'seller_sku'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ListCatalogCategoriesResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogApi#list_catalog_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
